* {
	font-family: sans-serif;
}

.container {
	background: #f0efe7;
}

.topbar {
	color: white;
	height: 80px;
	background-color: darkgrey;
	vertical-align: top;
	display: inline-block;
	width: 100%;
	margin: auto

}

.cartstatus {
	display: inline-block;
	vertical-align: top;
	padding-top: 20px;
	padding-left: 650px;
}

.branding {
	display: inline-block;
	font-size: 40px;
	vertical-align: top;
}


.categories {
	margin-top: 15px;
	background-color: darkgrey;
	height: 300px;
	width: 175px;
	color: white;
	display: inline-block;
	border-radius: 3px;
	padding: 5px;
}

.orders {
	margin-left: 150px;
	margin-top: 20px;
	width: 75%;
	border: 1px solid black;
	padding: 10px;
}

.orderinfo {
	margin-left: 150px;
	margin-top: 50px;
	width: 300px;
}

tr:nth-child(even) {
	background: #FFF
}

tr:nth-child(odd) {
	background: #CCC
}

.ordertotal {
	margin-left: 650px;
	margin-top: 15px;
}

#showall {
	font-style: italic;
}

.product_grid {
	padding: 15px;
	width: 950px;
	height: 600px;
	display: inline-block;
	vertical-align: top;
}
.product {
	display: inline-block;
	text-align: center;
	padding: 10px;
}
.product p {
	margin-top: 10px;
}
.product a {
	text-decoration: none;
	color: black;
}
.product a {
	text-decoration: none;
	color: black;
}
.product a:hover {
	text-decoration: none;
	color: grey;
}
.product img {
	border-radius: 10px;
	box-shadow: 5px 5px 5px #888888;
}

.product_photos {
	margin-left: 25px;
	display: inline-block;
}

.main_photo img {
	width: 400px;
}

.thumbnailz {
	display: inline-block;
	padding: 5px;

}

.thumbnailz img {
	width: 60px;
	display: inline-block;
}

.description{
	width: 300px;
	height: 300px;
	display: inline-block;
	margin-left: 100px;
	margin-top: 100px;
	vertical-align: top;
}

.buy {
	padding-left: 650px;
}

.similar_product img {
	width: 200px;
}
