<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Fun Tee Admin</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'funt/css/productdash.css' %}"media="screen" title="no title"  charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Baloo+Chettan" rel="stylesheet">
  </head>
  <body class='admincontainer'>
    <div class="adminlogin">
        <h2>Admin Login</h2>
        <form class="" action="/login" method="post">
          {% csrf_token %}
          <p>
            <input type="text" name="email" value="" placeholder="Email">
          </p>
          <p>
            <input type="password" name="password" value="" placeholder="Password">
          </p>
          <input type="submit" value="Login">
          <p>
            <a href="/">Home</a>
          </p>
        </form>
        <p>
          {% if messages %}
            {% for m in messages %}
              <p>
                {{m}}
              </p>
            {% endfor %}
          {% endif %}
        </p>
      </div>
    </body>
</html>
