<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">

    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'funt/css/style.css' %}"media="screen" title="no title"  charset="utf-8">
    <title>Your Fun Tee Headquarters</title>
    <title></title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
  </head>
  <body>
    <div class="container">
      <!-- start topbar -->
      <div class="topbar">
        <div class="branding">
          Funny Tees
        </div>
        <div class="cartstatus">
          <a href="/cart"><span>Shopping Cart ({{cart}})</span></a>
        </div>
      </div>
      <!-- end topbar -->
      <!-- start categories -->
      <div class="categories">
      <h4>Categories</h4>
      <!-- start categories loop -->
      {% for item in category %}
      <p>{{item.category}} {{item.p_count}}</p>
      {% endfor %}
      <!-- end categories loop -->
      <span id='showall'><a href="/products/all">Show All</a></span>
      </div>
      <!-- end categories -->
      <!-- start products -->
      <div class="product_grid">
        <!-- loop through products -->
        {% for p in products %}
        <div class="product">
          <a href="/product/show/{{p.id}}"><img src="{{p.img_one}}" height='200px' widht='200px' alt="image" />
          <p>${{p.price}}</p>
          <h4>{{p.name}}</h4></a>
        </div>
        {% endfor %}
        <div class="pagination">
          Page:
          {% for a in pages %}
          <a href="/{{a}}">{{a}}</a>
          {% endfor %}
        </div>
      </div>

    </div>
  </body>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</html>
