<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Show</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'funt/css/style.css' %}"media="screen" title="no title"  charset="utf-8">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <body>
    <!-- start topbar -->
    <div class="topbar">
      <div class="branding">
        Funny Tees
      </div>
      <div class="cartstatus">
        <a href="/cart"><span>Shopping Cart ( {{cart}} )</span></a>
      </div>
    </div>
    <!-- end topbar -->
    <div class="container">
      <p>
        <a href="/">Go Back</a>
      </p>
      <!-- start product photos -->
        <div class="product_photos">
          <h2>{{product.name}}</h2>
          <div class="main_photo">
            <img src="{{product.img_one}}" alt="" />
          </div>
          <div class="thumbnailz">
            <img src="{{product.img_two}}" alt="" />
          </div>
          <div class="thumbnailz">
            <img src="{{product.img_three}}" alt="" />
          </div>
          <div class="thumbnailz">
            <img src="{{product.img_four}}" alt="" />
          </div>
        </div>
        <!-- end product photos -->
        <!-- start description and purchase button -->
        <p class="description">
            {{product.description}}
        </p>
          <div class="buy">
            <form class="" action="/addcart" method="post">
            {% csrf_token %}
            <select class="quantity" name="quantity">
              <option> 1 </option>
              <option> 2 </option>
              <option> 3 </option>
              <option> 4 </option>
            </select>
            <input type="hidden" name="id" value="{{product.id}}">
            <input type="submit"  value="Buy">
          </form>
          </div>
        <!-- </div> -->
        <!-- end description and purchase divs -->
        <!-- start similar items -->
        <div class="similar_products">
          <!-- loop through products -->
          <h2>Similar Products</h2>
          {% for r in rest %}
          <div class="product">
            <a href="/product/show/{{r.id}}"><img src="{{r.img_one}}" height='200px' widht='200px' alt="image" />
            <p>${{r.price}}</p>
            <h4>{{r.name}}</h4></a>
          </div>
          {% endfor %}

        </div>
      </div>
    </div>
  </body>
</html>
